<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Profile</title>
  <link rel="stylesheet" href="/profile.css">
</head>
<body>
  <div class="content">
    <h1 class="profile-header">Perfil de <%= user.display_name %></h1>
    <div class="profile-container">
      <img src="<%= user.images[0] ? user.images[0].url : '/profile.webp' %>" alt="Profile Picture" class="profile-picture">
      <div class="profile-details">
        <p class="profile-info">Email: <%= user.email %></p>
        <p class="profile-info">Country: <%= user.country %></p>
        <p class="profile-info">Followers: <%= user.followers.total %></p>
      </div>
      <div class="back">
        <a href="/">Back to Home</a>
      </div>
    </div>
  </div>
</body>
</html>
